{# Widgets #}
{% use "form_div_layout.html.twig" %}

{% block checkbox_widget -%}
        <div class="ui checkbox">
            {{- form_label(form, null, { widget: parent() }) -}}
        </div>
{%- endblock checkbox_widget %}

{% block checkbox_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block checkbox_radio_label %}
    {# Do no display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {{- widget|raw -}}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label is not sameas(false) ? label|trans({}, translation_domain) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}



{# ------------------------------------------------------------------- #}
{% block form_row -%}
    <div class="field">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}
{# ------------------------------------------------------------------- #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    <div class="ui message error visible">
        {%- for error in errors -%}
            <p>{{ error.message }}</p>
        {%- endfor -%}
    </div>
    {%- endif %}
{%- endblock form_errors %}

